# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

iota/ParseHelper.h
iota/ParseHelper.m

iota/NSUserDefaults+MPSecureUserDefaults.h
iota/NSUserDefaults+MPSecureUserDefaults.m

iota/HighScoreHelper.h
iota/HighScoreHelper.m
